$media-md: 800px;


html, body{
    margin:0;
    padding:0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

header{
  .container{
    h1{
       font-size:40px;
       margin:10px 0;

       @media screen and (max-width: $media-md){
         font-size:30px;
         margin: 5px 0;
       }
      }

      span{
         font-size:14px;
         display:inline-block;
         margin-bottom:15px;

         @media screen and (max-width: $media-md){
           font-size:12px;
           margin-bottom:5px;

         }
     }
 }
}


.container{
  width:800px;
  margin-left:auto;
  margin-right:auto;

  @media screen and (max-width: $media-md) {
    width:auto;
    margin-left:15px;
    margin-right:15px;
   }

  .news-card{
    position:relative;
    margin-bottom:25px;

      @media screen and (max-width: $media-md){
        width: 100%;
      }

    .news-card-body{
      position:absolute;
      bottom:0; left:0; right:0;
      width:100%;
      height:100px;
      background-color:#000;

        .news-card-title{
          padding:5px 15px 5px 15px;
          margin:0;
          font-size:31px;
          text-transform: capitalize;

          @media screen and (max-width: $media-md){
            font-size:20px;
          }

          a{
            color:#fff;
            text-decoration: none;
          }
        }

        .news-card-snippet{
          font-size:13px;
          color:#FFF;
          line-height: 1.3;
          overflow:hidden;
          padding:0 15px 20px 15px;
        }

      }

      .news-card-thumb{
        width:800px;

        @media screen and (max-width: $media-md){
          width: 100%;
        }

        img{
          width:100%;
        }
      }
    }

    .sub-news{
      .news-card{
        display:inline-block;
        float:left;
        margin-right:25px;
        padding-bottom: 22px !important;

        @media screen and (max-width: $media-md){
          width: 100%;
          display:block;
          float:none;
          margin-right:0;
        }

        &:nth-child(3n){
            margin-right:0;
        }

        .news-card-body{
          height: 70px;
          padding-top: 6px;

          .news-card-title{
            font-size:13px;

            @media screen and (max-width: $media-md){
              font-size:13px;
            }

            a{
              color:#fff;
              text-decoration: none;
            }
          }

          .news-card-snippet{
            font-size: 12px;
            padding: 0 5px 5px 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .news-card-thumb{
          width:250px;

          @media screen and (max-width: $media-md){
            width: 100%;
          }
        }
      }
    }

    .sub-page{
      .sub-page-title{
        font-size: 23px;

        @media screen and (max-width: $media-md){
          font-size: 20px;
        }

        a{
          text-decoration: none;
          color:#000;
          text-transform: capitalize;
        }
      }

    }
}
