<main ng-controller="page_controller">
  <div class="container">
      <div class="news-card">
        <div class="news-card-thumb">
            <img src="{{ post.image }}">
        </div>
      </div>
      <div class="sub-page">
          <h4 class="sub-page-title">
              <a href="#">{{ post.title }}</a>
          </h4>
          <div class="sub-page-snippet">
              {{ post.snippet }}
          </div>
          <div class="sub-page-body" ng-bind-html="post.body | rawHtml"></div>

          <a href="#">&laquo; Anasayfaya dön</a>
      </div>
  </div>
</main>
